body {
  margin-top: 150px;
  justify-content: center;
  background-color: #FFFCFF;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: black;
  float: center;
  background-color: white;
}

.button_day {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  float: center;
  background-color: gray;
}

html {
min-width: 1px;
position: relative;
}

div {

font-size: 30px;
font-weight:bold;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.column {
  float: left;
  width: 25%;
}

.center{
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  height:  100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: #d36c6c;
  padding: 10px;
  column-gap: 10px;
  row-gap: 10px;
  width: 90%;


}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height:  100px;
  text-decoration-line: underline;
  text-align: center;
}
.calendar_button {
  width:  4.5%,;
  height:  100px;
  font-size: 30px;
  font-weight:bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.current_day {
    background-color: #11FF11;
}

#banner {
  text-align:center;
  width: 25px;
  height: 110px;
  font-size: 30px;
  font-weight:bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:white;
  background-color:#d36c6c;
  position: fixed; 
  top: 0; 
  width: 100%; 
  left:  0;
  top: 0;
  position:  fixed;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  
  justify-content: space-between;
}
